body {
  background-color: white;
  margin: 0px;
  font-family: nyt-imperial, georgia,'times new roman',times,serif;
}

nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 5px 1px black;
}

.article {
  background-color: white;
}

.nav--title {
  padding: 0px;
  display: flex;
  font-weight: 700;
  font-size: 25px;
  margin-left: auto;
  padding-left: 35px;
}

.nav--help {
  margin-left: auto;
}

.article--header{
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  box-shadow: 5px 1px lightgrey;
  padding: 30px;
}

.article--title {
  font-weight: 700;
  font-size: 1.6rem; /*1.9375rem */
  font-style: italic;
  line-height: 2.25rem; 
  margin: 0px auto 0px auto;
}

.article--date {
  font-weight: 400;
  font-size: 1.2rem; /*1.9375rem */
  font-style: italic;
  line-height: 2.25rem; 
  margin: 0px auto 0px auto;
}


.article--body{
  padding: 20px;
  font-size: 18px;
  line-height: 25px;
}

.button--img {
  background: white;
  border: none;  
}

.button--icon {
  width: 30px;
}

.button--help {
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}